.content{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
}

.filter-container{
    width: 20%;
    min-height: 100vh;
    color: white;
    padding: 0.75rem;
    /* border: 1px solid white; */
}

.filter-container .heading{
    text-align: center;
    margin-bottom: 1rem;
}

form .search-bar{
    margin-bottom: 1rem;
}

form .brand-group{
    margin-bottom: 1rem;
}

form .brand-group h2{
    font-size: 1.5rem!important;
    font-weight: 500;
}

.brand-group .input-group label{
    font-size: 0.8rem;
    height: 2rem;
    cursor: pointer;
}

.brand-group .input-group label input[type="checkbox"]{
    visibility: hidden;/* <-- Hide the default checkbox. The rest is to hide and allow tabbing, which display:none prevents */
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
}
.brand-group .input-group label span{
    display: inline-block;
    height:12px;
    width: 12px;
    border: 2px solid rgb(30, 41, 59);
    border-radius: 0.1rem;
    position: relative;
    margin-right: 0.25rem;
}
.brand-group input[type="checkbox"]:checked + span:before {
    /* background: white; */
  content: '\2713';
  position: absolute;
  top: -0.4rem;
  color: white;
  left: 0;
}

.input-group a{
    font-size: 0.8rem;
}
.input-group a:hover{
    text-decoration: underline;
}
.price-group .input-group{
    width: 100%;
    position: relative;
}
.price-group .input-group .min-max{
    /* border: 1px solid white; */
    display: inline-block;
    margin-top: 0.25rem;
    width: 45%;
    border-radius: 0.5rem!important;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgba(244, 244, 245, var(--tw-text-opacity));
    --tw-border-opacity: 1;
    border-color: rgba(24, 24, 27, var(--tw-border-opacity));
    font-size: 0.875rem;
    border-radius: 0.375rem;
}
.price-group .input-group .min-max input{
    width: 50%;
    border-radius: 0.5rem!important;
    padding: 8px 2px 8px 5px;
    --tw-text-opacity: 1;
    color: rgba(244, 244, 245, var(--tw-text-opacity));
    --tw-border-opacity: 1;
    border-color: rgba(24, 24, 27, var(--tw-border-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
}
.price-group .input-group .min-max input:focus{
    outline: none;
}

.category-container{
    /* border: 1px solid white; */
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category-product{
    display: flex;
    width: 30%;
    margin: 3rem 1rem 1rem;
    flex-direction: column;
    color: white;
    background-color: rgb(30, 41, 59);
    padding: 2rem 2rem 1rem;
    border-radius: 0.475rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.category-product:hover{
    transform: scale(1.05, 1.05);
}

.category-product img{
    height: 15rem;
    /* border: 1px solid white; */
    /* padding: 1.3rem; */
    margin-bottom: 0.85rem;
    border-radius: 0.475rem;
}

.category-product .name{
    font-size: 1.2rem;
    height: 2.5rem;
    margin-bottom: 1.4rem;
}

.category-product .price{
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.1rem;
}

.category-product .add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    background: rgb(79 70 229 / 1);
    font-weight: 500;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 2px 0 rgba(0,0,0,0.05);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.category-product .add-to-cart:hover{
    color: rgb(229 231 235 /1);
    background: rgb(67 56 202 /1);
}

.category-product .add-remove-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    /* padding: 0.5rem 1rem; */
    border-radius: 0.375rem;
    background: rgba(128, 128, 255, 0.1);
    font-weight: 500;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 2px 0 rgba(0,0,0,0.05);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.add-remove-buttons .btn{
    padding: 0.5rem 1.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 2px 0 rgba(0,0,0,0.05);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.add-remove-buttons .btn:hover{
    color: rgb(229 231 235 /1);
}

.add-remove-buttons .add-btn{
    background: rgb(79 70 229 / 1);
}
.add-remove-buttons .add-btn:hover{
    background: rgb(67 56 202 /1);
}

.add-remove-buttons .remove-btn{
    background: rgb(220 38 38);
}
.add-remove-buttons .remove-btn:hover{
    background: rgb(185 28 28);
}

.hide{
    display: none!important;
}